<div class="p-grid border">
    <div class="p-col-12 ownText">{{ownText}}</div>
    <div class="p-col-12 header">{{stationData.stacja}}</div>
  
  <div class="p-col-6 title">Data i godzina pomiaru</div><div class="p-col-6 desc">{{stationData.dataPomiaru}}  {{stationData.godzinaPomiaru}}:00 </div>
  <div class="p-col-6 title">Temperatura</div><div class="p-col-6 desc">{{stationData.temperatura}}</div>
 
  <div class="p-col-6 title">Ciśnienie</div><div class="p-col-6 desc">{{stationData.cisnienie}}</div>
  <div class="p-col-6 title">Wiatr (kier/pręd.)</div><div class="p-col-6 desc">{{stationData.kierunekWiatru}} st. / {{stationData.predkoscWiatru}} m/s</div>
  <div class="p-col-6 title">Suma opadu</div><div class="p-col-6 desc">{{stationData.sumaOpadu}} mm</div>
  <div class="p-col-6 title">Wilgotność</div><div class="p-col-6 desc">{{stationData.wilgotnoscWzgledna}} mm</div>
  <div class="p-col-12"></div>
  
</div>
